*{
    padding: 0px;
    margin: 0px;
    
}


body{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.Quiz-Game{
    margin-top: 5vh;
    background-color: white;
    height: 500px;
    width: 500px;
    border: 1px ;
    box-shadow: 2px 2px 2px 2px black ;
    
   
    
}

.Quiz-Game h1{
    text-align: center;
}
.questionsArea {
    text-align: center;
}


.options{
    padding: 2vh;
    display: flex;
    flex-direction: column;

}

.options button{
    padding: 1vh;
    background-color: white;
    margin: 2px;
    color: black;
    display: flex;
    justify-content: center;
    margin: 3px;
    
    

}
.next{
    display: flex;
    justify-content: center;
    

}

.next button{
    width: 15vh;
    height: 4vh;
    box-shadow: 1px 1px 1px 1px orange ;
    color: black;
    padding: 1vh;
    margin-top: 1vh;

}

.next button:hover{
    background-color: crimson;
    color: white;
}



/* result section */

.result-section{
    width: 400px;
    background-color: white;
    color: black;
    display: none;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    border: 1px solid black;
   }

   #restart{
    width: 15vh;
    height: 4vh;
    box-shadow: 1px 1px 1px 1px orange ;
    color: black;
    padding: 1vh;
    margin-top: 1vh; 
}


#restart:hover{
    background-color: crimson;
    color: white;
}