*{
    padding: 0px;
    margin: 0px;
}


.Quiz-Game{
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    height: 500px;
    width: 500px;
    
}

.Quiz-Game h1{
    text-align: center;
}
.questionsArea {
    text-align: center;
}


.options{
    padding: 2vh;
    display: flex;
    flex-direction: column;

}

.options button{
    padding: 1vh;
    background-color: gray;
    margin: 2px;
    color: white;
}
.next{
    display: flex;
    justify-content: center;
    

}

.next button{
    width: 10vh;
    height: 3vh;
    background-color: blue;
    color: white;
}


#restart{
    width: 10vh;
    height: 3vh;
    background-color: blue;
    color: white;  
}


/* result section */

.result-section{
    width: 400px;
    background-color: white;
    color: blue;
    display: none;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
   }

.result-section button{
   background-color: blue;
   color: white;
   padding: .5rem 3rem;
   border: none;
   margin: 0% auto;
   font-size: large;
   margin-top: 30px;


}